/****************************
Base CSS Styles
****************************/

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

div {
  width: 30%;
  display: inline-block;
  margin: 2rem 5rem;
}

fieldset {
  width: 80%;
  margin: auto;
}


/****************************
Class Styling
****************************/

#button-div button {
  margin: 0 17rem;
}
